body {
    font-family: 'Merienda', sans-serif !important;
    
}

header {
    background-image: url("../../../public/img/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}
.wrapper  {
    max-width: 800px;
    margin: 0 auto;
}
/* DIVIDER */

.divider {
    margin: 20px 0;
}

.line {
    /* height: 1px; */
    width: 60px;
    border: 0.5px solid white;
    display: inline-block;
    margin: 5px 20px;
}

.black {
    border: 0.5px solid black;
}

/* NAVBAR */

.custom-link {
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding-right: 40px;
}
.custom-link:hover {
    color: grey;
}
#navbarNav {
    padding-top: 28px;
}

/* GREETING */

.greeting__wrapper {
    text-align: center;
    padding: 50px 0 80px 0;
}

.greeting__title {
    font-size: 40px;
    font-weight: 700;
}

.greeting__description {
    font-size: 24px;
    font-weight: 700;
    width: 530px;
    margin: 0 auto;
    line-height: 40px;
}

/* ITEMS */

.items__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
    
}

.items__item {
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    padding: 20px;
    margin-top: 50px;
}


.items__item__title {
    font-size: 14px;
    padding: 14px 0;
}

.items__item__price {
    font-size: 14px;
    font-weight: 700;
    text-align: right;
}

.items__item__country {
    font-weight: 400;
    text-align: right;
}

