header {
    background-image: url("../img/about-header.png");
}

/* ABOUT */

.about {
    margin: 70px auto 60px;
}

.goods {
    padding: 30px 0 10px;
}

.greeting__wrapper {
    padding: 50px 0 80px 0;
}

.goods__cearchType p{
    display: inline-block;
    margin-right: 19px;
    margin-top: 30px;
    font-size: 14px;
}

.goods__cearchType input {
    background-color: #fff;
    border-radius: 4px;
    padding: 6px 36px;
    max-width: 180px;
    font-size: 12px;
    box-shadow:5px 5px 20px 3px lightgrey;
}

/* BUTTONS */

.btn-group button:not(:last-child) {
    margin-right: 5px;
  }

.btn {
    display: inline-block;
    max-width: 85px;
    font-weight: 400;
    font-size: 12px;
    background-color: #fff !important;
    border: none !important;
    box-shadow:5px 5px 20px 3px lightgrey;
}

  .items__item {
    box-shadow:5px 5px 20px 3px lightgrey;
  }

.sectionDevider {
    width: 240px;
    margin: 0 auto;
    border: 0.5px solid black;
}