

.greeting__wrapper {
    padding: 111px 0 200px 0;
}

.btn {
    width: 120px;
    height: 30px;
    margin-top: 20px;
}

/* ABOUT */

.aboutInfo__wrapper {
    text-align: center;
    margin: 80px auto 100px;
    max-width: 590px;
}

.aboutInfo__content {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 40px;
}

.aboutInfo__content p {
    padding-bottom: 10px;
}

/* OFFER */

.offer {
    background-image: url("../img/paper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding: 80px 300px 100px;
}
