.offer {
    background-image: url("../../../public/img/paper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding: 80px 300px 100px;
}

.offer__title {
    font-size: 24px;
}