/* FOOTER */

.footer__wrapper {
    padding: 20px 0;
    max-width: 360px;
    text-align: center;
    margin: 0 auto;
}

.footer__links-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__links-wrap a {
    color: #000;
}